@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #107c41;
  --color-secondary: #185c23;
  --color-secondary-dark: #012921;
  --color-tertiary: #33c481;
  --color-quartiary: #21a366;
  --color-black-100: #100d25;
  --color-black-200: #090325;
  --color-white-100: #f3f3f3;
  --color-white-200: #e0ffff;
  --color-input: #121212;

  /* Font Size */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 4rem;
  --text-7xl: 5rem;

  /* Screen breakpoints */
  --breakpoint-xs: "450px";
  --breakpoint-sm: "640px";
  --breakpoint-md: "768px";
  --breakpoint-lg: "1024px";
  --breakpoint-xl: "1280px";
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background: #107c41;
  background: linear-gradient(
    0deg,
    rgba(16, 124, 65, 1) 0%,
    rgba(1, 41, 33, 1) 32%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

/* path {
  fill: var(--color-primary);
  stroke-width: 1;
  stroke-opacity: 1;
  fill-opacity: 1;
} */
